h1, h2, h3, h4, p {
  font-family: 'Lato', sans-serif; }

h3 {
  font-size: 1.25rem;
  text-transform: uppercase; }
  h3.underline {
    position: relative;
    margin-bottom: 20px; }
    h3.underline:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -8px;
      width: 30px;
      height: 2px;
      background-color: #83bedf; }

/*
 * Media Query BreakPoints
 */
/*
   //Usages
   @include break-point(mobile){
    margin:2em;
   }
 */
/*
 * Box-Sizing Mixin
 */
/*
   //Usages
   @include box-sizing(border-box);
 */
/*
 * Box-Shadow Mixin
 */
/*
   //Usages
   @include box-shadow(10px, 10px, 5px, 0px, 0,0,0,0.75);
 */
/*
 * Border-Radius Mixin
 */
/*
   //Usages
   @include border-radius(8px);
 */
/*
 * Border-Radius choise Mixin
 */
/*
   //Usages
   @include border-radius-opt(8px, 8px, 8px 8px);
 */
/*
 * FlexBox Mixins
 */
/*
   //Usages
    @include flexbox();
 */
/*
   //Usages
    @include flex(1, 2);
 */
/*
   //Usages
     @include flex-order(3);
 */
/*
   //Usages
     @include flex-direction(column);
 */
/*
   //Usages
     @include flex-v-align(center);
 */
/*
 * Opacity Mixin
 */
/*
   //Usages
     @include opacity(0.5);
 */
/*
 * Gradient Mixin
 */
.btn-primary {
  padding: 10px 15px;
  background: -moz-linear-gradient(top, #33a6cc 50%, #0099cc 50%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #33a6cc), color-stop(50%, #0099cc));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #33a6cc 50%, #0099cc 50%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #33a6cc 50%, #0099cc 50%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #33a6cc 50%, #0099cc 50%);
  /* IE10+ */
  background: linear-gradient(to bottom, #33a6cc 50%, #0099cc 50%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33a6cc', endColorstr='#0099cc', GradientType=0);
  /* IE6-9 */ }
  .btn-primary:hover, .btn-primary:focus {
    background: -moz-linear-gradient(top, #66b2cc 50%, #33a6cc 50%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #66b2cc), color-stop(50%, #33a6cc));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #66b2cc 50%, #33a6cc 50%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #66b2cc 50%, #33a6cc 50%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #66b2cc 50%, #33a6cc 50%);
    /* IE10+ */
    background: linear-gradient(to bottom, #66b2cc 50%, #33a6cc 50%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#66b2cc', endColorstr='#33a6cc', GradientType=0);
    /* IE6-9 */ }
  .btn-primary:active {
    background: -moz-linear-gradient(top, #267c99 50%, #007299 50%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #267c99), color-stop(50%, #007299));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #267c99 50%, #007299 50%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #267c99 50%, #007299 50%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #267c99 50%, #007299 50%);
    /* IE10+ */
    background: linear-gradient(to bottom, #267c99 50%, #007299 50%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#267c99', endColorstr='#007299', GradientType=0);
    /* IE6-9 */ }

.input-field {
  margin-bottom: 20px;
  display: block;
  width: 100%;
  float: left; }
  .input-field label {
    text-align: left;
    width: 100%;
    float: left;
    font-weight: 600; }
  .input-field .red-text {
    font-weight: 600;
    text-align: left;
    width: 100%;
    float: left;
    display: block;
    color: rgba(255, 0, 15, 0.84); }
  .input-field input {
    width: 100%; }
    .input-field input[type=email], .input-field input[type=password], .input-field input[type=text] {
      outline: 1px;
      border: 1px solid #555;
      background-color: #fff !important;
      padding: 10px 15px;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px; }
  .input-field input:-webkit-autofill, .input-field textarea:-webkit-autofill, .input-field select:-webkit-autofill {
    background-color: white !important; }
  .input-field:last-child {
    margin-bottom: 0; }

.bg {
  background: url("./img/blue-polygon.png") no-repeat fixed center;
  background-size: cover;
  height: 150px;
  width: 100%;
  position: absolute;
  margin-bottom: 15px;
  top: 0;
  left: 0;
  border-radius: 8px 8px 0px 0px;
  -webkit-border-radius: 8px 8px 0px 0px;
  -moz-border-radius: 8px 8px 0px 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15); }
  .bg:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 153, 204, 0.6); }

.bg-container {
  margin-bottom: 75px; }

*, *:before, *:after {
  box-sizing: border-box; }

body {
  background: linear-gradient(to right top, #ccdce7, #c1d5e2, #b7cddc, #acc6d7, #a1bfd2) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

nav {
  width: 100%; }
  nav .nav-wrapper {
    background-color: #353535; }
    nav .nav-wrapper a {
      color: #fff; }

.btn {
  max-width: 200px;
  width: 100%;
  margin-right: 15px; }
  .btn:last-child {
    margin-right: 0; }

.v-align {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 100vh; }

.panel {
  background-color: #fff;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  opacity: 0.8;
  filter: alpha(opacity=80);
  -webkit-box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.45);
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.45);
  min-height: 350px;
  height: 100%; }

.img-container {
  margin-bottom: 25px; }
  .img-container .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
@media (min-width: 1200px) {
  .dashboard {
    max-width: calc(100% - 10em); } }
.dashboard .row {
  width: 100%; }
.dashboard .panel {
  background-color: #f7f8fa;
  overflow: hidden; }
  .dashboard .panel [class^="col"] {
    padding-right: 0;
    padding-left: 0; }
  .dashboard .panel .col-3 {
    background-color: #525a65; }
    .dashboard .panel .col-3 h2, .dashboard .panel .col-3 p, .dashboard .panel .col-3 i, .dashboard .panel .col-3 a {
      color: #fff; }
    .dashboard .panel .col-3 ul {
      margin-top: 30px; }
      .dashboard .panel .col-3 ul li {
        text-decoration: none;
        list-style: none;
        text-align: left;
        margin-bottom: 30px; }
        .dashboard .panel .col-3 ul li:last-child {
          margin-bottom: 0; }
        .dashboard .panel .col-3 ul li a {
          font-size: 1.2rem; }
.dashboard .metrics {
  background-color: #fff;
  -webkit-box-shadow: 2px 0px 9px 0px rgba(180, 180, 180, 0.16);
  -moz-box-shadow: 2px 0px 9px 0px rgba(180, 180, 180, 0.16);
  box-shadow: 2px 0px 9px 0px rgba(180, 180, 180, 0.16); }
.dashboard .col-4.metrics {
  max-width: calc(33.33333% - 1em);
  text-align: left;
  padding: 1rem; }
  .dashboard .col-4.metrics:nth-child(3n - 1) {
    margin-left: 1.5em;
    margin-right: 1.5em; }
  .dashboard .col-4.metrics:nth-child(n + 4) {
    margin-top: 1.5em; }
  .dashboard .col-4.metrics .statistics {
    font-weight: 600;
    font-size: 2em; }
.dashboard nav.user-details {
  background-color: #fff;
  float: left; }
  .dashboard nav.user-details a {
    float: right;
    color: #333;
    padding: 15px 20px;
    text-decoration: none; }
  .dashboard nav.user-details .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 50px;
    right: 0; }
  .dashboard nav.user-details .dropdown {
    position: relative;
    width: 50%;
    float: right; }
  .dashboard nav.user-details .dropdown:hover .dropdown-content {
    display: block; }

.App {
  text-align: center; }

/*# sourceMappingURL=App.css.map */
