//Dashboard

.dashboard {

  @media (min-width: 1200px) {
    max-width: calc(100% - 10em)
  }

  .row {
    width: 100%;
  }

  .panel {
    background-color: #f7f8fa;
    overflow: hidden;

    [class^="col"] {
      padding-right: 0;
      padding-left: 0;
    }

    .col-3 {
      background-color: #525a65;

      h2, p, i, a {
        color: #fff;
      }

      ul {
        padding-left: 17.5px;
        padding-right: 17.5px;
        margin-top: 30px;

        li {
          text-decoration: none;
          list-style: none;
          text-align: left;
          padding: 15px 7.5px;
          margin-bottom: 15px;

          &:last-child {
            margin-bottom: 0;
          }

          &.active {
            background-color: #626c79;

          }

          .icon {
            width: 30px;
            text-align: left;
            float: left;
          }

          a {
            font-size: 1.2rem;

            &.active {
              font-weight: 600;
            }
          }
        }
      }
    }

  }

  // Metrics style

  .metrics {
    background-color: #fff;
    @include box-shadow(2px, 0px, 9px, 0px, 180, 180, 180, 0.16);
  }

  .col-4 {

    &.metrics {
      max-width: calc(33.33333% - 1em);
      text-align: left;
      padding: 1rem;

      &:nth-child(3n - 1) {
        margin-left: 1.5em;
        margin-right: 1.5em;
      }

      &:nth-child(n + 4) {
        margin-top: 1.5em;
      }

      .statistics {
        font-weight: 600;
        font-size: 2em;
      }
    }
  }

  .col-6 {
    margin-top: 1.5em;

    &.metrics {
      max-width: calc(50% - 0.75em);
      text-align: left;
      padding: 1rem;

      &:nth-child(even) {
        margin-left: 1.5em;
      }
    }
  }

  // Nav Dropdown styles

  nav {
    &.user-details {
      //overflow: hidden;
      background-color: #fff;
      float: left;


      a {
        float: right;
        color: #333;
        padding: 15px 20px;
        text-decoration: none;

        i {
          padding-left: 2px;
        }
      }

      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        top: 50px;
        right: 0;
      }

      .dropdown {
        position: relative;
        width: 50%;
        float: right;
      }

      .dropdown:hover .dropdown-content {
        display: block;
      }
    }
  }
}


//Chart Styles

.apexcharts-canvas {
  margin: 0 auto;
}

//Generator Styles

.generator {
  .input-field {
    margin-top: 20px;

    input {
      width: 85%;
      border-radius: 5px 0 0 5px;
      display: inline-block;
      float: left;
    }

    input[type=text] {
      border: 1px solid #55555536;
    }
  }

  button {
    max-width: 100%;
    width: auto;

    &.btn {
      padding: .625rem .75rem;
      border-radius: 0 5px 5px 0;
    }

    &.btn-green {
      border-radius: 5px;
    }
  }
}