//Core password file styling

.password-container {
  width: calc(100% - 2em);
  border: 1px solid #525a65;
  margin: 1em;
  height: 420px;
  overflow-y: scroll;
  overflow-x: auto;

  table {
    width: 100%;
    thead {
      background-color:#eaebed;
      th{

      }
    }
    tbody {
      background-color: #fff;
      tr {
        border-bottom: 1px solid #eaebed;
        td {
            padding: 5px 0;
        }
      }
    }
  }
}

.details {
  .btn.btn-blue {
    margin-top:15px;
  }
}