
h1, h2, h3, h4, p {
  font-family: 'Lato', sans-serif;
}

h1 {
  font-size: 1.75em;
}

h2 {
  font-size: 1.5em;

  &.underline {
    text-transform: uppercase;
    position: relative;
    margin-bottom: 20px;

    &:after {
      content: '';
      position:absolute;
      left: 0;
      bottom: -8px;
      width: 30px;
      height: 2px;
      background-color: #83bedf;
    }
  }
}


h3 {
  font-size: 1.25rem;
  text-transform: uppercase;

  &.underline {
    position: relative;
    margin-bottom: 20px;

    &:after {
      content: '';
      position:absolute;
      left: 0;
      bottom: -8px;
      width: 30px;
      height: 2px;
      background-color: #83bedf;
    }
  }
}